$black: #030F14;
$dark-gray: #1A1F21;
$navy: #0E0D29;
$white: #FFF;
$lime: #D6FF00;
$orange: #FFB400;
$blue: #4000FF;
$yellow: #FFEB00;

$page-margin: 30px;
$page-margin-lg: 80px;

@mixin h3() {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  margin: 0;
  line-height: 1em;
}

$unit: 1vw;
$unit-landscape: 5px;

$col-width: 7rem;
$content-width: $col-width * 12;

@mixin row() {
  display: flex;
  width: $content-width;
  margin: auto;
}

@mixin col($n) {
  width: $n * $col-width;

  &.align-center {
    display: flex;
    align-items: center;
  }
}