@import '_variables.scss';

.intro {
  position: relative;
  margin-top: 10rem;
  margin-bottom: 7rem;

  h1 {
    font-size: 13rem;
  }

  .ball {
    background: white;
    width: $col-width * 2;
    height: $col-width * 2;
    border-radius: 100%;
    margin-top: 5rem;
  }

  .when-and-where {
    margin: 5rem 0;
  }
}

.presenting-logo {
  fill: $white;

  .pingpod {
    font-size: 30%;
    display: flex;
    align-items: flex-end;
    line-height: 1.2;
    padding-left: 0.2rem;
  }

  svg {
    width: 100%;
    width: 50rem;
    height: 6rem;
    max-height: 30rem;
  }
}

.presenters,
.partners {
  display: flex;
  flex-direction: column;
}

.presenters {
  margin-top: 10rem;
}

.partners {
  margin-top: 10rem;
}

.info-section {
  margin-top: 5rem;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5rem;
}

.logo {
  display: inline-block;
  width: 22rem;
  margin-bottom: 1rem;
  fill: $white;

  &:not(:last-child) {
    margin-right: 5rem;
  }

  &.the-push {
    width: 23rem;
    height: 23rem;
  }

  &.pips {
    width: 12rem;
    height: 12rem;
    box-sizing: content-box;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  &.nyctta {
    width: 17rem;
    margin-left: 1rem;
  }

  &.wttc {
    width: 18rem;
  }

  &.clubhouse {
    width: 32rem;
  }

  &.dr-de-cong-tran {
    width: 40rem;
  }

  &.butterfly {
    width: 26rem;
  }

  &.nytto {
    width: 24rem;
  }

  svg {
    width: 100%;
    height: auto;
  }

  path,
  rect,
  polygon,
  ellipse {
    fill: $white;
  }
}