@import '_variables.scss';

.intro {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 5rem;

  .ball {
    background: white;
    width: $col-width * 2;
    height: $col-width * 2;
    border-radius: 100%;
    margin-top: 5rem;
  }

  .when-and-where {
    margin: 5rem 0;
  }
}

.presenting-logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 17rem;
  height: 17rem;
  fill: $white;
}

.presenters,
.partners {
  display: flex;
  flex-direction: column;
}

.presenters {
  margin-top: 10rem;
}

.partners {
  margin-top: 10rem;
}

.info-section {
  margin-top: 5rem;
}

.logos {
}

.logo {
  display: inline-block;
  width: 25rem;
  height: 25rem;
  fill: $white;

  &:not(:last-child) {
    margin-right: 10px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}