@import '_variables.scss';

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $blue;
  color: $white;
  z-index: 2;
  padding: $page-margin;

  visibility: hidden;

  @media (min-width: 768px) {
    padding: $page-margin-lg;
  }

  &.active {
    visibility: visible;
  }

  .inner {
    position: relative;
  }

  .content {
    margin-top: 10rem;
  }

  .close {
    position: absolute;
    font-size: 30px;
    padding: 10px;
    margin: -10px;
    cursor: pointer;
  }
}

#email-signup {
  display: flex;

  input {
    flex: 1;
  }

  button {
    background: $white;
    color: $blue;
  }
}