@import '_variables.scss';

.player {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 10rem;
  width: 100%;

  .info {
    position: relative;
    z-index: 1;
  }

  .flags {
    position: absolute;
    top: -1.6rem;
    right: 0;
  }

  .highlights {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .highlights h4 {
    margin-left: auto;
    background: $blue;
    margin-bottom: 0.5rem;
  }

  .gallery {
    position: relative;
    margin-top: -2rem;
    width: 100%;
    overflow: hidden;

    .images {
      height: 100rem;
      white-space: nowrap;
      margin: auto;

      &.is-initialized {
        img {
          transition: transform 300ms ease-out;
        }
      }
    }

    img {
      width: auto;
      height: 100%;
      margin-right: 2rem;
    }

    .highlights {
      position: absolute;
      bottom: 10rem;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
