@import '_variables.scss';

.player {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 10rem;

  .flags {
    position: absolute;
    top: -1.6rem;
    right: 0;
  }

  .highlights {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .highlights h4 {
    margin-left: auto;
    background: $blue;
    margin-bottom: 0.5rem;
  }
}