@import '_variables.scss';

html {
  font-size: $unit;

  @media (min-width: 1024px) {
    font-size: $unit-landscape;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background: $black;
  color: $white;
  padding: 0;
  margin: 0;
  font-size: 3rem;
}

* {
  box-sizing: border-box;
}

main {
  position: relative;
  width: $content-width;
  margin: auto;
}

h1 {
  font-size: 10rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 0.8em;
  font-style: italic;
  text-transform: uppercase;
}

h3 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
}

h4 {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.05em;
}

p {
  letter-spacing: 0.05em;
  line-height: 1.4em;
  font-size: 14px;
  max-width: 600px;
}

label {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-bottom: 15px;
}

input,
textarea {
  display: block;
  font-family: 'Oswald', Impact, sans-serif;
  font-size: 18px;
  background: transparent;
  color: inherit;
  border: 2px solid $white;
  text-transform: uppercase;
  white-space: pre;
  width: 100%;
  max-width: 340px;
  padding: 5px;

  &::placeholder {
    color: rgba(255,255,255,0.5);
  }
}

input:focus {
  outline: none;
}

select {
  height: 2.5em;
  width: 200px;
  margin-bottom: 20px;
}

button {
  padding: 5px 10px;
  background: transparent;
  color: inherit;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.row {
  @include row();
}

@for $n from 1 through 12 {
  .col-#{$n} {
    @include col($n);
  }
}
