@import '_variables.scss';

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url("/assets/Roboto-BlackItalic.ttf") format("ttf");
  font-display: swap;
}

html {
  font-size: $unit-portrait;
  width: 100vw;

  @media (min-width: 600px) {
    font-size: $unit-portrait-lg;
  }

  @media (min-width: 1024px) {
    font-size: $unit-landscape;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background: $black;
  color: $white;
  padding: 0;
  margin: 0;
  font-size: 3rem;
  width: 100%;
}

* {
  box-sizing: border-box;
}

main {
  position: relative;
  margin: auto;
  min-height: 150rem;
}

h1 {
  font-size: 10rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 0.8em;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 0.8em;
  font-style: italic;
  text-transform: uppercase;
}

h3 {
  @include h3();
}

h4 {
  font-size: 2.7rem;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  line-height: 1.5em;
}

p, li {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  line-height: 1.1em;
  font-size: 3.2rem;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

li {
  padding: 0;
}

label {
  display: block;
  @include h3();
}

.field {
  display: flex;
  align-items: center;
}

input,
textarea {
  @include h3();

  display: block;
  background: transparent;
  color: inherit;
  border: 1rem solid $white;
  text-transform: uppercase;
  white-space: pre;
  width: 100%;
  max-width: 340px;
  padding: 2rem;

  &::placeholder {
    color: rgba(255,255,255,0.5);
  }
}

input[type="checkbox"] {
  width: 9rem;
  height: 9rem;
  border-radius: 9rem;
  margin-right: 2rem;
}

input:focus {
  outline: none;
}

select {
  height: 2.5em;
  width: 200px;
  margin-bottom: 20px;
}

button {
  @include h3();

  padding: 3rem 2rem;
  border: 1rem solid $white;
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  max-width: 40rem;
  z-index: 1;
}

.row {
  @include row();
}

@for $n from 1 through 12 {
  .col-#{$n} {
    @include col($n);
    @include col-l($n);
  }
}

@for $n from 1 through 12 {
  .col-#{$n}-l {
    @include col-l($n);
  }
}

footer {
  margin-top: 20rem;
  padding: 10rem 0;
}