<% include ./partials/html-start %>

<main>
  <div class="intro">
    <div class="row">
      <div class="presenting-logo col-9 col-5-l">
        <h1>
          The<br />
          Academy<br />
          Champions<br />
          <span data-color="yellow">Invitational</span>
        </h1>
      </div>
      <div class="presenting-logo col-3">
        <% include ./partials/nyctta %>
      </div>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-6">
        <h3 class="when-and-where">
          Saturday, November 16<br />
          300 West 61st Street<br />
          New York City
        </h3>
        <div class="col-5">
          <button class="get-tickets" id="eventbrite-widget-modal-trigger-71307353213" type="button">
            <h3>
              Get Tickets
            </h3>
          </button>
        </div>
      </div>
      <div class="col-2"></div>
      <div class="col-2 align-center">
        <!-- <div class="ball"></div> -->
      </div>
    </div>
  </div>

  <br />
  <br />
  
  <div class="row">
    <p>
      <span data-color="yellow">Table tennis has been an Olympic sport since 1988.</span>
      <br />
      Now, it's time to start treating it like one.

      <br />
      <br />
      Join us for a thrilling 8-player, single elimination, pro tournament - the first of its kind in New York City.
      
      <br />
      <br />
      Hosted by the New York Table Tennis Academy, watch the sport in a professional stadium setting and get a glimpse of why this is one of the most-televised, most popular sports in the world.
    </p>
  </div>

  <div class="partners">
    <div class="row">
      <div class="col-1"></div>
      <h4 data-color="yellow">In partnership with</h4>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="logos">
        <div class="logo">
          <% include ./partials/the-push %>
        </div>
        <div class="logo">
          <% include ./partials/aytto %>
        </div>

        <div class="logo">
            <% include ./partials/wttc %>
          </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />

  <div class="row">
    <div class="col-12">
      <h2>
        One-of-a-kind<br />
        Action packed<br />
        Fun For All Ages<br />
      </h2>
      <br />
      <p>
        <span data-color="yellow">Whether it's date night, family night, or just out with friends, </span>
        this is the perfect Saturday evening.
      </p>
    </div>
  </div>

  <br />
  <br />

  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      <p>
        - See a sport that most Americans <span data-color="yellow">have never seen </span>live at the professional level
        <br />
        <br />
        - Be blown away by <span data-color="yellow">athletic and tactical magic</span>
        <br />
        <br />
        - Meet players and fans from <span data-color="yellow">all over the world</span>
        <br />
        <br />
        - Enjoy delicious <span data-color="yellow">food and refreshments</span> 
        <br />
      </p>

      <br />
      <br />
      <button class="get-tickets" id="eventbrite-widget-modal-trigger-71307353213" type="button">
        <h3>
          Get Tickets
        </h3>
      </button>
    </div>
  </div>

</main>

<% include ./partials/ticket-overlay %>
<% include ./partials/html-end %>