<% include ./partials/html-start %>

<main>
  <div class="intro">
    <div class="row">
      <h1>
        The<br />
        Champions<br />
        <span data-color="yellow">Invitational</span>
      </h1>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-6">
        <h3 class="when-and-where">
          Saturday, November 16<br />
          New York City
        </h3>
        <div class="col-5">
          <button class="get-tickets" data-overlay="tickets">
            <h3>
              Get Tickets
            </h3>
          </button>
        </div>
      </div>
      <div class="col-2"></div>
      <div class="col-2 align-center">
        <div class="ball"></div>
      </div>
    </div>
  </div>

  <div class="presenters">
    <div class="row">
      <div class="col-1"></div>
      <h4 data-color="yellow">Presented by</h4>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="logos">
        <h3>Champions League TT</h3>
        <h3>New York Table Tennis Academy</h3>
      </div>
    </div>
  </div>

  <div class="partners">
    <div class="row">
      <div class="col-1"></div>
      <h4 data-color="yellow">In partnership with</h4>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="logos">
        <div class="logo" style="margin-left: -2rem;">
          <% include ./partials/the-push %>
        </div>
        <div class="logo">
          <% include ./partials/aytto %>
        </div>
      </div>
    </div>
  </div>
</main>

<% include ./partials/ticket-overlay %>
<% include ./partials/html-end %>