<% include ./partials/html-start %>

<main>
  <!-- <div class="videos">
    <iframe class="video" src="https://www.youtube.com/embed/60MeSnlsEwI?controls=0&playlist=60MeSnlsEwI&modestbranding=1&loop=1&start=30&end=300&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div> -->

  <div class="intro">
    <div class="row">
      <div class="presenting-logo col-9 col-5-l">
        <h1>
          <div class="pingpod">
            The
            <span>
              <a href="https://pingpod.com/?championsleaguett" target="_blank" rel="noopener noreferrer">
                <% include ./partials/logos/pingpod %>
              </a>
            </span>
          </div>
          Champions<br />
          <span data-color="yellow">Invitational</span>
        </h1>
      </div>
      <div class="presenting-logo col-3">
      </div>
    </div>

    <div class="row" style="align-items: flex-end">
      <div class="col-1"></div>
      <div class="col-6">
        <h3 class="when-and-where">
          Saturday, November 16<br />
          300 West 61st Street<br />
          New York City
        </h3>
        <div class="col-5 col-2-l">
          <a href="https://www.eventbrite.com/e/pro-table-tennis-pingpod-champions-invitational-tickets-71307353213" target="_blank">
            <button class="get-tickets" type="button">
              <h3>
                Get Tickets
              </h3>
            </button>
          </a>
        </div>
      </div>
      <div class="col-12 col-5-l">
        <div class="video-wrapper">
          <iframe 
            class="video-player"
            src="https://player.vimeo.com/video/369698840?title=0&byline=0&portrait=0" 
            frameborder="0" 
            allow="autoplay; fullscreen" 
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

    </div>
  </div>
  
  <br />
  <br />
  
  <div class="row">
    <p>
      <span data-color="yellow">Table tennis has been an Olympic sport since 1988.</span>
      <br />
      Now, it's time to start treating it like one.

      <br />
      <br />
      Join us for a thrilling 8-player, single elimination, pro tournament - the first of its kind in New York City.
      
      <br />
      <br />
      Hosted by the New York Table Tennis Academy, watch the sport in a professional stadium setting and get a glimpse of why this is one of the most-televised, most popular sports in the world.
    </p>
  </div>

  <br />

  <div class="partners">
    <div class="row">
      <div class="col-1"></div>
      <h4 data-color="yellow">In partnership with</h4>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="logos">
        <div class="logo the-push">
          <a href="http://www.thepushbk.com/?championsleaguett" target="_blank" rel="noopener noreferrer">
            <% include ./partials/logos/the-push %>
          </a>
        </div>
        <div class="logo aytto">
          <a href="https://aytto.com/?championsleaguett" target="_blank" rel="noopener noreferrer">
            <% include ./partials/logos/aytto %>
          </a>
        </div>
        <div class="logo wttc">
          <a href="http://www.westchestertabletennis.com/?championsleaguett" target="_blank" rel="noopener noreferrer">
            <% include ./partials/logos/wttc %>
          </a>
        </div>
        <div class="logo nyctta">
          <a href="http://thetabletennisacademy.org/?championsleaguett" target="_blank" rel="noopener noreferrer">
            <% include ./partials/logos/nyctta %>
          </a>
        </div>
        <div class="logo butterfly">
          <a href="https://butterflyonline.com/?championsleaguett" target="_blank" rel="noopener noreferrer">
            <% include ./partials/logos/butterfly %>
          </a>
        </div>
        <div class="logo pips">
          <a href="https://www.pipsout.com/?championsleaguett" target="_blank" rel="noopener noreferrer">
            <% include ./partials/logos/pips %>
          </a>
        </div>
        <div class="logo clubhouse">
          <a href="https://clubhouse.io/?championsleaguett" target="_blank" rel="noopener noreferrer">
            <% include ./partials/logos/clubhouse %>
          </a>
        </div>
        <div class="logo">
          <a href="https://wearespin.com/location/new-york/?championsleaguett" target="_blank" rel="noopener noreferrer">
            <% include ./partials/logos/spin %>
          </a>
        </div>
        <div class="logo dr-de-cong-tran">
          <a href="https://doctor.webmd.com/doctor/de-tran-cb7d7aae-4b84-422b-98ad-c9eb3a94a401-overview?championsleaguett" target="_blank" rel="noopener noreferrer">
            <% include ./partials/logos/dr-de-cong-tran %>
          </a>
        </div>
        <div class="logo nytto">
          <a href="https://nytto.org" target="_blank" rel="noopener noreferrer">
            <% include ./partials/logos/nytto %>
          </a>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />

  <div class="row">
    <div class="col-12">
      <h2>
        One-of-a-kind<br />
        Action packed<br />
        Fun For All Ages<br />
      </h2>
      <br />
      <p>
        <span data-color="yellow">Whether it's date night, family night, or just out with friends, </span>
        this is the perfect Saturday evening.
      </p>
    </div>
  </div>

  <br />
  <br />

  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      <p>
        - See a sport that most Americans <span data-color="yellow">have never seen </span>live at the professional level
        <br />
        <br />
        - Witness some <span data-color="yellow">athletic and tactical magic</span>
        <br />
        <br />
        - Meet players and fans from <span data-color="yellow">all over the world</span>
        <br />
        <br />
        - Enjoy delicious <span data-color="yellow">food and refreshments</span> 
        <br />
      </p>

      <br />
      <br />
      <div class="col-2-l">
        <a href="https://www.eventbrite.com/e/pro-table-tennis-pingpod-champions-invitational-tickets-71307353213" target="_blank">
          <button class="get-tickets" type="button">
            <h3>
              Get Tickets
            </h3>
          </button>
        </a>
      </div>
    </div>
  </div>

</main>

<% include ./partials/ticket-overlay %>
<% include ./partials/html-end %>
