<% include ./partials/html-start %>

<main>
  <div class="intro">
    <div class="row">
      <h1>
        Players
      </h1>
    </div>
  </div>

  <div class="players">
    <div class="player">
      <div class="row">
        <div class="col-12">
          <h3>Michael</h3>
          <h1 data-color="yellow">Landers</h1>
        </div>
      </div>

      <div class="row justify-end">
        <div class="highlights col-12">
          <h4>2012 US & North American Olympic Trials - Qualifier</h4>
          <h4>2009 US Nationals - Men's Singles Champion</h4>
          <h4>2007-2011 US National Team Member</h4>
        </div>
      </div>
    </div>

    <div class="player">
      <div class="row">
        <div class="col-12">
          <h3>Yasiris</h3>
          <h1 data-color="yellow">Ortiz</h1>
        </div>
      </div>

      <div class="row justify-end">
        <div class="highlights col-12">
          <h4>Dominican Republic National Team Member</h4>
          <h4>Caribbean Champion</h4>
        </div>
      </div>
    </div>

    <div class="player">
      <div class="row">
        <div class="col-12">
          <h3>Tahl</h3>
          <h1 data-color="yellow">Liebovitz</h1>
        </div>
      </div>

      <div class="row justify-end">
        <div class="highlights col-12">
          <h4>Paralympic Gold Medalist</h4>
          <h4>4X Olympic Trials Qualifier</h4>
          <h4>50X International Para Champion</h4>
        </div>
      </div>
    </div>

    <div class="player">
      <div class="row">
        <div class="col-12">
          <h3>??</h3>
          <h1 data-color="yellow">??</h1>
        </div>
      </div>

      <div class="row justify-end">
        <div class="highlights col-12">
          <h4>Coming soon</h4>
        </div>
      </div>
    </div>

    <div class="player">
      <div class="row">
        <div class="col-12">
          <h3>??</h3>
          <h1 data-color="yellow">??</h1>
        </div>
      </div>

      <div class="row justify-end">
        <div class="highlights col-12">
          <h4>Coming soon</h4>
        </div>
      </div>
    </div>

    <div class="player">
      <div class="row">
        <div class="col-12">
          <h3>??</h3>
          <h1 data-color="yellow">??</h1>
        </div>
      </div>

      <div class="row justify-end">
        <div class="highlights col-12">
          <h4>Coming soon</h4>
        </div>
      </div>
    </div>

    <div class="player">
      <div class="row">
        <div class="col-12">
          <h3>??</h3>
          <h1 data-color="yellow">??</h1>
        </div>
      </div>

      <div class="row justify-end">
        <div class="highlights col-12">
          <h4>Coming soon</h4>
        </div>
      </div>
    </div>

    <div class="player">
      <div class="row">
        <div class="col-12">
          <h3>??</h3>
          <h1 data-color="yellow">??</h1>
        </div>
      </div>

      <div class="row justify-end">
        <div class="highlights col-12">
          <h4>Coming soon</h4>
        </div>
      </div>
    </div>
  </div>
</main>

<% include ./partials/ticket-overlay %>
<% include ./partials/html-end %>
