<% include ./partials/html-start %>

<main>
  <br />
  <br />

  <div class="row">
    <div class="col-12">
      <h1>
        <span data-color="yellow">
        World-Class
        </span><br />
        Athletes
      </h1>

      <br />

      <p class="col-10 col-6-l">
        Eight of the best table tennis athletes in the US are coming together to battle it out - representing countries all over the world. Will you join them?
      </p>

    </div>
  </div>

  <br />
  <br />
  <br />

  <div class="players">
    <div class="player">
      <div class="row info">
        <div class="flags">
          <h2>🇺🇸</h2>
        </div>

        <div class="col-12">
          <h3>Michael</h3>
          <h1 data-color="yellow">Landers</h1>
        </div>
      </div>

      <div class="row gallery">
        <div class="images">
          <img src="/assets/players/Michael_Landers_004.jpg"/>
          <img src="/assets/players/Michael_Landers_007.jpg"/>
          <img src="/assets/players/Michael_Landers_010.jpg"/>
        </div>

        <div class="highlights col-12">
          <h4>2012 US & North American Olympic Trials - Qualifier</h4>
          <h4>2009 US Nationals - Men's Singles Champion</h4>
          <h4>2007-2011 US National Team Member</h4>
        </div>
      </div>
    </div>

    <div class="player">
      <div class="row info">
          <div class="flags">
          <h2>🇩🇴</h2>
        </div>

        <div class="col-12">
          <h3>Yasiris</h3>
          <h1 data-color="yellow">Ortiz</h1>
        </div>
      </div>

      <div class="row gallery">
        <div class="images">
          <img src="/assets/players/Yasiris_Ortiz_006.jpg"/>
          <img src="/assets/players/Yasiris_Ortiz_007.jpg"/>
          <img src="/assets/players/Yasiris_Ortiz_010.jpg"/>
        </div>
  
        <div class="highlights col-12">
          <h4>Dominican Republic National Team Member</h4>
          <h4>Caribbean Champion</h4>
          <h4>ITTF World Rank #189</h4>
        </div>
      </div>
    </div>

    <div class="player">
      <div class="row info">
          <div class="flags">
          <h2>🇺🇸🇮🇱</h2>
        </div>
    
        <div class="col-12">
          <h3>Tahl</h3>
          <h1 data-color="yellow">Leibovitz</h1>
        </div>
      </div>

      <div class="row gallery">
        <div class="images">
          <img src="/assets/players/Tahl_Leibovitz_001.jpg"/>
        </div>
  
        <div class="highlights col-12">
          <h4>Paralympic Gold Medalist</h4>
          <h4>4X Olympic Trials Qualifier</h4>
          <h4>50X International Para Champion</h4>
        </div>
      </div>
    </div>

    <div class="player">
      <div class="row info">
        <div class="flags">
          <h2>🇭🇺</h2>
        </div>
    
        <div class="col-12">
          <h3>Dora</h3>
          <h1 data-color="yellow">Kurimay</h1>
        </div>
      </div>

      <div class="row gallery">
        <div class="images">
          <img src="/assets/players/Dora_Kurimay_004.jpg"/>
          <img src="/assets/players/Dora_Kurimay_003.jpg"/>
          <img src="/assets/players/Dora_Kurimay_001.jpg"/>
        </div>
  
        <div class="highlights col-12">
          <h4>Hungarian National Team Member</h4>
          <h4>Hungarian National Champion</h4>
          <h4>Top 10 in Europe (U18)</h4>
        </div>
      </div>
    </div>

    <div class="player">
      <div class="row">
        <div class="flags">
          <h2>🇨🇳🇺🇸</h2>
        </div>
    
        <div class="col-12">
          <h3>Xinyue (Taylor)</h3>
          <h1 data-color="yellow">Wang</h1>
        </div>
      </div>

      <div class="row justify-end">
        <div class="highlights col-12">
          <h4>Highest ITTF World Rank #203</h4>
          <h4>USA National Team Member</h4>
          <h4>Beijing Team Member</h4>
        </div>
      </div>
    </div>

    <div class="player">
      <div class="row">
        <div class="flags">
          <h2>🇹🇬</h2>
        </div>
    
        <div class="col-12">
          <h3>Kokou Dodji</h3>
          <h1 data-color="yellow">Fanny</h1>
        </div>
      </div>

      <div class="row justify-end">
        <div class="highlights col-12">
          <h4>#1 player from Togo</h4>
          <h4>Togo National Team Member</h4>
          <h4>2012 African Championships - Bronze medalist</h4>
        </div>
      </div>
    </div>

    <div class="player">
      <div class="row">
        <div class="flags">
          <h2>🇺🇸</h2>
        </div>
    
        <div class="col-12">
          <h3>Angela</h3>
          <h1 data-color="yellow">Guan</h1>
        </div>
      </div>

      <div class="row justify-end">
        <div class="highlights col-12">
          <h4>USA National Team Member</h4>
          <h4>2016 US Nationals - Women's Singles Semifinalist</h4>
          <h4>2014 North American Junior Girls Champion</h4>
        </div>
      </div>
    </div>

    <div class="player">
      <div class="row">
        <div class="flags">
          <h2>🇺🇸</h2>
        </div>
    
        <div class="col-12">
          <h3>Luis</h3>
          <h1 data-color="yellow">Diaz</h1>
        </div>
      </div>

      <div class="row justify-end">
        <div class="highlights col-12">
          <h4>Venezuela National Team Member</h4>
        </div>
      </div>
    </div>
  </div>
</main>

<% include ./partials/ticket-overlay %>
<% include ./partials/html-end %>
