<% include ./partials/html-start %>

<main>
  <div class="intro">
    <div class="row">
      <h1>
        The<br />
        <span data-color="yellow">Schedule</span>
      </h1>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-2">
        <h3 data-color="yellow">4:30 PM</h3>
      </div>
      <div class="col-2"></div>
      <div class="col-8">
        <h3 data-color="yellow">
          Doors Open
        </h3>
        <br />
        <p>
          First 25 attendees receive a limited supply gift bag, full of goodies from our partners and sponsors.
        </p>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-2">
        <h3 data-color="yellow">4:50 PM</h3>
      </div>
      <div class="col-2"></div>
      <div class="col-8">
        <h3 data-color="yellow">
          Quarterfinals
        </h3>
        <br />
        <p>
          Four quarterfinal matches.
        </p>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-2">
        <h3 data-color="yellow">5:40 PM</h3>
      </div>
      <div class="col-2"></div>
      <div class="col-8">
        <h3 data-color="yellow">
          Queen of the Hill (Audience Edition)
        </h3>
        <br />
        <p>
          Let's see - which one of our audience members should be crowned Crowd Champion? We'll be inviting random volunteers to play quick games to 3 points to see who can stay standing.
          <br />
          <br />
          (Yes, of course there are prizes.)
        </p>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-2">
        <h3 data-color="yellow">6:00 PM</h3>
      </div>
      <div class="col-2"></div>
      <div class="col-8">
        <h3 data-color="yellow">
          Semifinals
        </h3>
        <br />
        <p>
          Two semifinal matches.
        </p>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-2">
        <h3 data-color="yellow">6:30 PM</h3>
      </div>
      <div class="col-2"></div>
      <div class="col-8">
        <h3 data-color="yellow">
          Puzzle Pong! with Will Shortz, NYTimes Crossword Editor
        </h3>
        <br />
        <p>
          Meet the infamous puzzlemaster Will Shortz. Did you know he currently holds the world record for most consecutive days of table tennis played?
          <br />
          <br />
          Join him for interactive fun featuring two of his favorite things: puzzles and ping pong.
        </p>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-2">
        <h3 data-color="yellow">7:00 PM</h3>
      </div>
      <div class="col-2"></div>
      <div class="col-8">
        <h3 data-color="yellow">
          Finals
        </h3>
        <br />
        <p>
          One championship match.
        </p>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-2">
        <h3 data-color="yellow">7:30 PM</h3>
      </div>
      <div class="col-2"></div>
      <div class="col-8">
        <h3 data-color="yellow">
          Award Ceremony
        </h3>
        <br />
        <p>
          We'll be presenting trophies and prizes for our top athletes.
        </p>
      </div>
    </div>

    <br />
    <br />
    <br />
  </div>
</main>

<% include ./partials/ticket-overlay %>
<% include ./partials/html-end %>