<% include ./partials/html-start %>

<main>
  <div class="intro">
    <div class="row">
      <h1>
        The<br />
        <span data-color="yellow">Schedule</span>
      </h1>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-6">
        <h3 class="when-and-where">
          COMING SOON
        </h3>
      </div>
    </div>
  </div>
</main>

<% include ./partials/ticket-overlay %>
<% include ./partials/html-end %>
