<% include ./partials/html-start %>

<main>
  <div class="intro">
    <div class="row">
      <h1>
        The<br />
        <span data-color="yellow">Schedule</span>
      </h1>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-2">
        <h3 data-color="yellow">4:00 PM</h3>
      </div>
      <div class="col-2"></div>
      <div class="col-8">
        <h3 data-color="yellow">
          Doors Open
        </h3>
        <br />
        <p>
          First 50 attendees receive a limited edition gift bag. Details coming soon.
        </p>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-2">
        <h3 data-color="yellow">4:30 PM</h3>
      </div>
      <div class="col-2"></div>
      <div class="col-8">
        <h3 data-color="yellow">
          Quarterfinals
        </h3>
        <br />
        <p>
          Four quarterfinal matches.
        </p>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-2">
        <h3 data-color="yellow">5:30 PM</h3>
      </div>
      <div class="col-2"></div>
      <div class="col-8">
        <h3 data-color="yellow">
          Celebrity Showdown
        </h3>
        <br />
        <p>
          An exhibition match between two familiar faces in pop culture - who happen to be serious amateur table tennis players!
        </p>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-2">
        <h3 data-color="yellow">6:00 PM</h3>
      </div>
      <div class="col-2"></div>
      <div class="col-8">
        <h3 data-color="yellow">
          Semifinals
        </h3>
        <br />
        <p>
          Two semifinal matches.
        </p>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-2">
        <h3 data-color="yellow">6:30 PM</h3>
      </div>
      <div class="col-2"></div>
      <div class="col-8">
        <h3 data-color="yellow">
          Junior Champs
        </h3>
        <br />
        <p>
          These kids are adorable off court, but undeniably fierce at the table. Who will take the junior crown?
        </p>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-2">
        <h3 data-color="yellow">7:00 PM</h3>
      </div>
      <div class="col-2"></div>
      <div class="col-8">
        <h3 data-color="yellow">
          Finals
        </h3>
        <br />
        <p>
          One championship match.
        </p>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col-2">
        <h3 data-color="yellow">7:30 PM</h3>
      </div>
      <div class="col-2"></div>
      <div class="col-8">
        <h3 data-color="yellow">
          Award Ceremony
        </h3>
        <br />
        <p>
          We'll be giving away raffle prizes, announcing the Hackathon winners, and of course - presenting trophies for our top athletes.
        </p>
      </div>
    </div>

    <br />
    <br />
    <br />
  </div>
</main>

<% include ./partials/ticket-overlay %>
<% include ./partials/html-end %>