<header>
  <div class="row">
    <ul class="col-9">
      <a href="/">
        <li>
          <div class="logo">
            <% include ./cltt %>
          </div>        
        </li>
      </a>
      <a href="/players">
        <li>
          <h3>Players</h3>
        </li>
      </a>
      <a href="/schedule">
        <li>
          <h3>Schedule</h3>
        </li>
      </a>
      <!-- <a href="/hackathon">
        <li>
          <h3 data-color="yellow">Hackathon</h3>
        </li>
      </a> -->
    </ul>

    <div class="col-1-l"></div>

    <div class="col-3 col-2-l" style="display: flex; align-items: center;">
      <a style="width: 100%;" href="https://www.eventbrite.com/e/pro-table-tennis-pingpod-champions-invitational-tickets-71307353213" target="_blank">
        <button class="get-tickets" type="button">
          <h3>
            Tickets
          </h3>
        </button>
      </a>
    </div>
  </div>
</header>
