<header>
  <div class="row">
    <ul>
      <a href="/">
        <li>
          <div class="logo"></div>
        </li>
      </a>
      <a href="/players">
        <li>
          <h3>Players</h3>
        </li>
      </a>
      <a href="/schedule">
        <li>
          <h3>Schedule</h3>
        </li>
      </a>
      <!-- <a href="/hackathon">
        <li>
          <h3 data-color="yellow">Hackathon</h3>
        </li>
      </a> -->
    </ul>
  </div>
</header>

<div class="fixed-footer">
  <div class="row">
    <div class="col-7"></div>
    <div class="col-5">
      <button class="get-tickets" data-overlay="tickets">
        <h3>
          Get Tickets
        </h3>
      </button>
    </div>
  </div>
</div>