<header>
  <div class="row">
    <ul>
      <a>
        <li>
          <div class="logo"></div>
        </li>
      </a>
      <a>
        <li>
          <h3>Players</h3>
        </li>
      </a>
      <a>
        <li>
          <h3>Schedule</h3>
        </li>
      </a>
      <a>
        <li>
          <h3>Hackathon</h3>
        </li>
      </a>
    </ul>
  </div>
</header>

<div class="fixed-footer">
  <div class="row">
    <div class="col-7"></div>
    <div class="col-5">
      <button class="get-tickets">
        <h3>
          Get Tickets
        </h3>
      </button>
    </div>
  </div>
</div>
