<html>

<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/styles/index.css" type="text/css" rel="stylesheet">

  <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16" />
</head>

<body>
  <div class="background">
    <div class="left"></div>
    <div class="right"></div>
    <div class="row">
      <div class="col-1 black"></div>
      <div class="col-1 black"></div>
      <div class="col-1"></div>
      <div class="col-1"></div>
      <div class="col-1"></div>
      <div class="col-1"></div>
      <div class="col-1"></div>
      <div class="col-1"></div>
      <div class="col-1"></div>
      <div class="col-1"></div>
      <div class="col-1"></div>
      <div class="col-1"></div>
    </div>
  </div>

  <% include ./header %>