<div id="overlay">
  <div class="row inner">
    <div class="close">✕</div>

    <div class="col-12 content">
      <h1>Tickets aren't public&nbsp;yet.</h1>
      <p>Sign up and be the first to know when they are.</p>
    
      <form id="email-signup" netlify>
        <input name="email" type="email" placeholder="EMAIL" />
        <button>Okay&nbsp;</button>
      </form>
    </div>
  </div>
</div>