<div class="overlay" id="tickets-overlay">
  <div class="row inner">
    <div class="close">✕</div>

    <div class="col-12 content">
      <h1>Tickets aren't public&nbsp;yet.</h1>
      <p>Sign up and be the first to know when they are.</p>

      <form class="email-signup" id="tickets-signup" netlify>
        <div class="row">
          <div class="col-9">
            <input name="email" type="email" placeholder="EMAIL" />
          </div>
          <div class="col-3">
            <button>Okay&nbsp;</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="overlay" id="hackathon-overlay">
  <div class="row inner">
    <div class="close">✕</div>

    <div class="col-12 content">
      <h1>Join the hackathon.</h1>
      <p>Sign up to get your Slack invite by Nov 1.</p>

      <form class="email-signup" id="hackathon-signup" netlify>
        <div class="row">
          <div class="col-9">
            <input name="email" type="email" placeholder="EMAIL" />
          </div>
          <div class="col-3">
            <button>Okay&nbsp;</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>